@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #ffffff;
  --color-text: #111111;
}

@layer theme {
  .dark {
    --color-bg: #111111;
    --color-text: #eeeeee;
  }
}
