@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-text: #111111;
}

/* Font */

@font-face {
  font-family: "secondary";
  src: url("/fonts/Rubik.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "primary";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-secondary: "secondary", sans-serif;
}
